<!DOCTYPE html>
<html>
    <head>
        <title>SignUp</title>
    </head>
    <body>
        <h1>Sign Up</h1>

        <form action = "{{ url_for('signup')}}" method = "POST">

            Username
            <input type = "text" name = "username" required>
    
            <br><br>
    
            Password
            <input type = "password" name = "password" required>
        
            <br><br>
        
            <input type = "submit" value = "create">
        
        </form>
    </body>
</html>